.form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.input {
  border: none;
  border-bottom: 1px solid black;
  width: 220px;
  padding: 10px;
}
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 12px;
  cursor: pointer;
}
