.castWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.castImg {
  width: 300px;
  height: 400px;
}
.castInfo {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
